@utility frosted-glass {
	@apply bg-base-100/75 backdrop-blur-xl;
}

@utility toggle-indeterminate {
	grid-template-columns: 0.5fr 1fr 0.5fr;
}

@utility checkbox-indeterminate {
	background-color: var(--input-color, color-mix(in oklab, var(--color-base-content) 20%, #0000));
	&::before {
		opacity: 1;
		clip-path: polygon(20% 100%, 20% 80%, 50% 80%, 50% 80%, 80% 80%, 80% 100%);
		translate: 0 -35%;
		rotate: none;
	}
}

@utility btn-invert {
	--btn-color: var(--color-base-content);
	--btn-fg: var(--color-base-200);
}
