@import './neu.css';
@import './hexagon.css';
@import './daisy.css';

@utility text-2xs {
	font-size: 0.625rem;
}

@utility text-3xs {
	font-size: 0.5rem;
}

@utility full-bleed-container {
	@apply grid grid-cols-[1fr_min(var(--bleed-width,80ch),100%)_1fr] *:col-2;
}

@utility full-bleed {
	@apply col-span-full! w-full;
}

@utility debug {
	@apply [border:1px_solid_red]!;
}

@utility no-scrollbar {
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

@utility no-spinner {
	-moz-appearance: textfield;
	appearance: textfield;
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		@apply appearance-none;
	}
}

@utility progress-flat {
	@apply [&::-webkit-progress-value]:rounded-none;
}

@utility grid-stack {
	@apply grid *:row-start-1 *:col-start-1;
}

@utility overflow-fade {
	--fade-size: 2rem;
	--fade-start: 0;
	--fade-end: 1;

	overflow: auto;
	scroll-timeline:
		--overflow-fade-y y,
		--overflow-fade-x x;
	animation:
		overflow-fade-y linear,
		overflow-fade-x linear;
	animation-timeline: --overflow-fade-y, --overflow-fade-x;
	mask-image:
		linear-gradient(
			to bottom,
			rgba(0, 0, 0, calc(1 - var(--fade-start))) 0%,
			black var(--fade-size),
			black calc(100% - var(--fade-size)),
			rgba(0, 0, 0, calc(1 - var(--fade-end))) 100%
		),
		linear-gradient(
			to right,
			rgba(0, 0, 0, calc(1 - var(--fade-left, 0))) 0%,
			black var(--fade-size),
			black calc(100% - var(--fade-size)),
			rgba(0, 0, 0, calc(1 - var(--fade-right, 0))) 100%
		);
	mask-composite: intersect;
}

@utility overflow-y-fade {
	--fade-size: 2rem;
	--fade-start: 0;
	--fade-end: 1;

	overflow-y: auto;
	scroll-timeline: --overflow-fade-y y;
	animation: overflow-fade-y linear;
	animation-timeline: --overflow-fade-y;
	mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, calc(1 - var(--fade-start))) 0%,
		black var(--fade-size),
		black calc(100% - var(--fade-size)),
		rgba(0, 0, 0, calc(1 - var(--fade-end))) 100%
	);
}

@utility overflow-x-fade {
	--fade-size: 2rem;
	--fade-left: 0;
	--fade-right: 1;

	overflow-x: auto;
	scroll-timeline: --overflow-fade-x x;
	animation: overflow-fade-x linear;
	animation-timeline: --overflow-fade-x;
	mask-image: linear-gradient(
		to right,
		rgba(0, 0, 0, calc(1 - var(--fade-left))) 0%,
		black var(--fade-size),
		black calc(100% - var(--fade-size)),
		rgba(0, 0, 0, calc(1 - var(--fade-right))) 100%
	);
}

@keyframes overflow-fade-y {
	0% {
		--fade-start: 0;
		--fade-end: 1;
	}
	1% {
		--fade-start: 1;
		--fade-end: 1;
	}
	99% {
		--fade-start: 1;
		--fade-end: 1;
	}
	100% {
		--fade-start: 1;
		--fade-end: 0;
	}
}

@keyframes overflow-fade-x {
	0% {
		--fade-left: 0;
		--fade-right: 1;
	}
	1% {
		--fade-left: 1;
		--fade-right: 1;
	}
	99% {
		--fade-left: 1;
		--fade-right: 1;
	}
	100% {
		--fade-left: 1;
		--fade-right: 0;
	}
}
