@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'daisyui' {
	themes: all;
}

@import '../src/css/index.css';

html {
	@apply scroll-smooth;
}

body {
	@apply p-0!;
}

#storybook-root {
	@apply full-bleed-container min-h-[100dvh] relative p-4!;
}

@utility demo {
	@apply grid content-center place-items-center gap-10 size-full;
}

@font-face {
	font-family: 'FiraCode NF';
	src: url('https://cdn.jsdelivr.net/gh/ryanoasis/nerd-fonts@master/patched-fonts/FiraCode/Regular/FiraCodeNerdFont-Regular.ttf');
}
