@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'daisyui' {
	themes: all;
}

@import '../src/css/index.css';

html {
	@apply size-full overflow-auto;
}

body,
#storybook-root {
	@apply size-full;
}

@utility demo {
	@apply grid place-items-center gap-10 size-full;
}

@font-face {
	font-family: 'FiraCode NF';
	src: url('https://cdn.jsdelivr.net/gh/ryanoasis/nerd-fonts@master/patched-fonts/FiraCode/Regular/FiraCodeNerdFont-Regular.ttf');
}
