@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@plugin 'daisyui' {
	themes: all;
}

@source "../src";
@import '../src/css/index.css';

@font-face {
	font-family: 'FiraCode NF';
	src: url('https://cdn.jsdelivr.net/gh/ryanoasis/nerd-fonts@master/patched-fonts/FiraCode/Regular/FiraCodeNerdFont-Regular.ttf');
}

@utility demo {
	@apply grid content-center place-items-center gap-10 size-full overflow-auto;
}
